
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
[Dd]ebug*/
_ReSharper*/
PrecompiledWeb/
/*.pdb
/*.dll
!/libs/
!/bin/*Devart*
!/bin/*App_Licenses*
*.orig
*.pyc
*.rar
*.model