@model Dictionary<string, string>
@{
    Layout = "~/Views/Shared/_MngLayout.cshtml";
}


<div class="container">
    <table class="table table-bordered" id="ClassesList">
        <tr>
            <td>Class</td>
            <td>Where</td>
            <td>Update</td>
            <td>Remove</td>

        </tr>
        @foreach (var item in Model.Where(i => !string.IsNullOrEmpty(i.Key) && !string.IsNullOrEmpty(i.Value)).OrderBy(o => o.Key))
        {
            <tr id="li_@item.Key">
                <td>
                    <label id="key_@item.Key">@item.Key</label>
                </td>
                <td>
                    <input id="val_@item.Key" value="@item.Value" style="width:500px" /><br />
                </td>
                <td>
                    <button type="button" onclick="UpdateValue('@item.Key')">Update</button>
                </td>
                <td>
                    <button type="button" onclick="RemoveValue('@item.Key')">Remove</button>
                </td>


            </tr>
        }
    </table>

    Add New:
    <div>
        <input id="key_New" />
        <input id="val_New" />
        <button onclick="NewValue('New')">New Value</button>

    </div>
</div>
<script>
    function NewValue(key) {
        var json = { Who: $("#key_" + key).val(), Where: $("#val_" + key).val() };
        SendAjax(json,key);
    }

    function UpdateValue(key) {
        var json = { Who: $("#key_" + key).text(), Where: $("#val_" + key).val() };
        SendAjax(json, key);
    }
    function SendAjax(json, key) {
        $.ajax({
            url: "UpdateShowPickUps",
            type: "POST",
            data: json,
            success: function (data, textStatus, jqXHR) {
                console.log(data);
                //
                if (key == "New") {
                    location.reload();
                }

                //data - response from server
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);

            }
        });
    }

    function RemoveValue(key) {
        console.log(key);

        var json = { Who: key };
        console.log(json);

        $.ajax({
            url: "RemoveValue",
            type: "POST",
            data: json,
            success: function (data, textStatus, jqXHR) {
                console.log(data);
                $('#li_' + key).remove();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            }
        });
    }
</script>
