@using MobileApplication.Models;
@model List<ClassPickUpModel>
@{
    Layout = "~/Views/Shared/_MngLayout.cshtml";
}

<style>
    tr {
        vertical-align: bottom;
        border-bottom-style: solid;
        border-bottom-width:10px;
    }

    .divContent {
        width: 900px;
        height: 450px;
        float: left;
        font-family:futura;
        font-size: 40px;
        font-weight: bold;
    }

    .bgc_1 {
        color: #CC232A;
        border-bottom-color: #CC232A;
    }

    .bgc_2 {
        color: #9DBC54;
        border-bottom-color: #9DBC54;
    }

    .bgc_3 {
        color: #0382C7;
        border-bottom-color: #0382C7;
    }

    .bgc_4 {
        color: #F0C430;
        border-bottom-color: #F0C430;
    }

    .bgc_5 {
        color: #CC232A;
        border-bottom-color: #CC232A;
    }

    .bgc_6 {
        color: #9DBC54;
        border-bottom-color: #9DBC54;
    }

    .bgc_7 {
        color: #0382C7;
        border-bottom-color: #0382C7;
    }

    .bgc_8 {
        color: #F0C430;
        border-bottom-color: #F0C430;
    }

    #engLogo {
        width: 576px;
        height: 160px;
        margin-left: 175px;
    }

    #slide1_container {
        width: 900px;
        height: 900px;
        overflow: hidden; /* So the sliding bit doesn't stick out. */
        margin: 0 auto;
    }

    #slide1_images {
        /* This is the bit that moves. It has 4 images, so 4 * 450 = 1800. You could use javascript
    to work this out instead by counting images. */
        width: 3600px;
        -webkit-transition: all 1.0s ease-in-out;
        -moz-transition: all 1.0s ease-in-out;
        -o-transition: all 1.0s ease-in-out;
        transition: all 1.0s ease-in-out;
    }

        #slide1_images img {
            padding: 0;
            margin: 0;
            float: left; /* All the images are in a row next to each other. */
        }

    .hebrew {
        text-align: right;
    }

    .centerthis {
        text-align: center;
    }

    .tdedge {
        width: 150px;
    }

    tfoot tr{
        height:100px;
    }
</style>

<script>
    function changePage(groupIndex) {
        console.log(groupIndex);
        $("#slide1_images").css("transform", "translateX(" + (groupIndex - 1) * -900 + "px)");
        $("#slide1_controls span").removeClass("selected");
        $('#group_' + groupIndex).addClass("selected");
    }


</script>

<div class="container">

    <div id="slide1_container" class="shadow">
        <a href="~/Home/Index">
            <img id="engLogo" src="~/Images/PickUp.jpg" alt="Englilush Pick Up">
        </a>
        <div id="slide1_images">
            @foreach (IGrouping<int, ClassPickUpModel> classGrouped in Model.GroupBy(m => m.GroupId))
            {
                <table class="divContent" id="group_@classGrouped.Key">

                    <tbody>
                        @{int i = 0;}
                        @foreach (ClassPickUpModel cls in classGrouped)
                        {
                            i++;
                            <tr class="bgc_@i">

                                <td class="tdedge centerthis">@cls.EngName</td>
                                <td class="centerthis">@cls.Where</td>
                                <td class="hebrew tdedge centerthis">@cls.HebName</td>

                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class="tfCls">
                            <td class="centerthis" colspan="3">

                                @classGrouped.FirstOrDefault().GetGroupsCounslerDetails()
                            </td>
                        </tr>
                    </tfoot>
                </table>

            }

        </div>
    </div>



</div>
<script>
    var globalIndex = 2;
    var numOfGroups = 4;
    var reloadCounter = 0;
    function rotateContent() {
        setTimeout(function () {
            if (globalIndex > numOfGroups - 1)
                globalIndex = 0;
            reloadCounter++;

            if (reloadCounter >= 7)
                location.reload();
            else {
                changePage(++globalIndex);
                rotateContent();
            }
            //
        }, 5 * 1000);
    }
    changePage(2);
    rotateContent();

    function checkRefresh() {
        setTimeout(function () {
            $.ajax({
                url: "DoRefreshRequest",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    if (data == 'True') {
                        location.reload();
                    }
                    else
                        checkRefresh();
                }
            });
        }, 5000);

    }
    checkRefresh();

</script>
