@model MobileApplication.Models.CounslerModel

<script type="text/javascript">
    var Counsler = @Model.ID;
</script>

<fieldset>
    <legend>
        <p>
            <b>@Model.FirstName @Model.LastName &nbsp&nbsp</b>
        </p>
    </legend>
</fieldset>
