<ion-view title="Students" data-ng-controller="studentController as vm">
    <ion-content padding="true" scroll="true" class="has-header">

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon" ></i>
                <input type="text" placeholder="Search" ng-model="searchText">
            </label>
        </div>


        <div class="list">
            <div ng-repeat="student in vm.students | filter:searchText | orderBy:'FirstName'">
                <a class="item item-avatar" ng-href="#/home/student-details/{{student.StudentID}}">
                    <img  ng-src="{{student.Img}}" />
                     {{student.FirstName + "             " +    student.LastName  }}  {{student.LastName}}
                </a>
            </div>
        </div>

</ion-content>
</ion-view>