<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--http://stephenwalther.com/archive/2010/11/30/an-introduction-to-jquery-templates-->
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="Scripts/Config.js"></script>
    <script src="Scripts/Authentication.js"></script>
    <script src="Scripts/ObjDefinitions.js"></script>

    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />
    <script src="Scripts/DataBase.js"></script>
    <script src="Scripts/ServerProxy.js"></script>
    <script src="Scripts/Sudents.js"></script>
    <script src="Scripts/Teachers.js"></script>
    <script src="Scripts/Branches.js"></script>
    <script src="Scripts/FlowEntry.js"></script>
</head>

<body>


    <!--Head-->
    <script id="HeadTemplate" type="text/x-jquery-tmpl">
        <div data-role="header">
            <div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-left">
                <a data-role="button" data-rel="back" data-icon="back">Back</a>
                <a href="#MainMenu" data-role="button" data-icon="home">Home</a>
            </div>
            <h1>MainMenu</h1>
        </div>
        <!-- /header -->
    </script>

    <script id="FooterTemplate" type="text/x-jquery-tmpl">
        <div data-role="footer">
            <h4>Page Footer</h4>
        </div>
    </script>
    <!-- /footer -->
    <!--pick up studends-->
    <!--add if to set the distinct a\b\c-->
    <!--if (current.firstletter !=last.firstletter)
        <li data-role="list-divider">${current.firstletter}</li>
        -->
    <script id="StudentListPickUpTemplate" type="text/x-jquery-tmpl">
        {{if IsPickedUp==false }}
        <li>{{else}}
        <li data-theme="e">
            {{/if}}

            <a href="#SudentInfo" onclick="Student.SetCurrentStudent($(this).tmplItem().data);"
               rel="external" data-sclass="${SClass}" data-grade="${Grade}">
                <p><b>${FirstName} ${LastName}</b> <span>${Grade}${SClass}</span></p>
            </a>
        </li>
    </script>

    <script id="StudentDetailsTemplate" type="text/x-jquery-tmpl">
        <div data-role="content">

            <img src="${Img}" height="70px" />
            <h1>${this.data.FirstName} ${LastName}</h1>
            <h2>Class: ${Grade}${SClass}</h2>

            {{if CheckedIn.When==null}}
            <h2>Checked In By: XXXXX</h2>
            <h2>Checked In At: XXXXX</h2>
            {{else}}
            <h2>Checked In By: ${CheckedIn.ByWhom}</h2>
            <h2>Checked In At: ${CheckedIn.When}</h2>
            {{/if}}

            {{if PickUp.When!=null}}
            <h2>Checked Out At: ${PickUp.When}</h2>
            <h2>Checked Out By: ${PickUp.ByWhom}</h2>
            {{/if}}

            <h2>Parent1 name: ${Parent1Name}</h2>
            <h2>Parent1 phone: ${Parent1Num}</h2>
            <h2>Parent1 email: <a href="mailto:${Parent1Email}"> ${Parent1Email}</a></h2>
            <h2>Parent2 name: ${Parent2Name}</h2>
            <h2>Parent2 phone: ${Parent2Num}</h2>

            <fieldset data-role="controlgroup">
                <legend>Picked up by:</legend>

                {{each PickUpOptions}}

                <input type="radio" name="radio-picked-by" id="radio-picked-by-${$index+1}" value="${$value}" />
                <label for="radio-picked-by-${$index+1}">${$value}</label>
                {{/each}}

                <input type="radio" name="radio-picked-by" id="radio-picked-by-20" value="otherPicker" />
                <input type="text" id="PickedUpOther" placeholder="Insert Name..." onkeyup="Student.ApprovedClicked('#radio-picked-by-20')" />
            </fieldset>
            <button data-role="button" onclick="
                Student.StudentPickedUpApproval($(this).tmplItem().data,$('input:radio[name=radio-picked-by]:checked').val(), $('#PickedUpOther').val());">
                Approve
            </button>

        </div>

    </script>

    <!--pick up studends end -->
    <!--Student Health -->
    <script id="StudentHealthDetailsTemplate" type="text/x-jquery-tmpl">
        <div data-role="content">

            <img src="${img}" height="70px" />
            <h1>${FirstName} ${LastName}</h1>
            <h2>Class: ${Grade}${SClass}</h2>

            <h2>healthIssues: ${HealthIssuesString}</h2>

            <h2>Parent1 name: ${Parent1Name}</h2>
            <h2>Parent1 phone: ${Parent1Num}</h2>
            <h2>Parent2 name: ${Parent2Name}</h2>
            <h2>Parent2 phone: ${Parent2Num}</h2>


        </div>

    </script>

    <script id="StudentHealthListTemplate" type="text/x-jquery-tmpl">

        <li>
            <a href="#SudentInfoHealth" onclick="Student.SetCurrentStudentHealth($(this).tmplItem().data);" rel="external">
                <p><b>${FirstName} ${LastName}</b> <span>${Grade}${SClass}</span> ${HealthIssuesString}</p>
            </a>
        </li>
    </script>

    <div data-role="page" id="SudentInfoHealth">

        <div class="HeaderMM"></div>

        <div class="StudentFullInfoHealth"></div>

        <div class="FooterMM"></div>

    </div>

    <!--Student Health end -->
    <!--${$value.byWhom}-->
    <!--end Templates-->
    <!-- Start of Main Menu -->
    <!--Thumbnail list-->
    <div data-role="page" id="MainMenu">
        <div class="HeaderMM"></div>

        <div class="content-primary">

            <select id="selectBranch">
                <option>a</option>
                <option>b</option>

            </select>

            <ul data-role="listview">
                <li>
                    <a href="#PickUp">
                        <img src="http://demos.jquerymobile.com/1.2.1/docs/lists/images/album-bb.jpg" />
                        <h3>PickUp Students</h3>
                        <p>PickUp Students</p>
                    </a>
                </li>
                <li>
                    <a href="#MyInfo">
                        <img src="http://demos.jquerymobile.com/1.2.1/docs/lists/images/album-af.jpg" />
                        <h3>My Counsler Info</h3>
                        <p>My Info</p>
                    </a>
                </li>

                <li>
                    <a href="#StudentsHealthList">
                        <img src="http://www.sovereignhealthcare.co.uk/wp/wp-content/uploads/2014/02/healthy-heart.jpg" />
                        <h3>HealthIssues</h3>
                        <p>HealthIssues</p>
                    </a>
                </li>

            </ul>
        </div>
        <!--/content-primary -->

        <div class="FooterMM"></div>

    </div>
    <!-- /page -->
    <!-- End of Main Menu -->
    <!-- Start of MyInfo-->
    <div data-role="page" id="MyInfo">

        <div class="HeaderMM"></div>

        <div data-role="content">
            <p>My Info</p>
            <p><a href="#MainMenu">Back to MainMenu</a></p>
        </div>

        <div class="FooterMM"></div>

    </div>



    <!--grades and class filters-->
    <script id="GradesFilterTemplate" type="text/x-jquery-tmpl">
     

        <div class="ui-checkbox">
            <label for="my-checkbox-${this.data}" class="ui-btn ui-btn-inherit ui-btn-icon-left ui-checkbox-off">${this.data}</label>
            <input type="checkbox" id="my-checkbox-${this.data}" data-corners="false" data-enhanced="true"></input>
        </div>

    </script>

    <script id="ClassesFilterTemplate" type="text/x-jquery-tmpl">
        <div class="ui-radio">
            <label for="checkboxClass-${this.data}">${this.data}</label>
            <input type="checkbox" name="cbClassesSelected" id="checkboxClass-${this.data}" value="${this.data}" />
        </div>

    </script>



    <!--grades and class filters end-->
    <!-- /page -->
    <!-- End of MyInfo-->
    <!-- Start of Pick Up-->
    <!--Divided, filterable list-->
    <div data-role="page" id="PickUp">
        <div class="HeaderMM"></div>
        <!--code here to remove the default filter only for my class-->
        <button data-role="button" id="btnPickUpShowAllStudents">Show All Students</button>

        <fieldset data-role="controlgroup" data-type="horizontal" class="">
            <div class="ui-controlgroup-controls pickUpFilterGrade">

            </div>
        </fieldset>


         
            <fieldset data-role="controlgroup" data-type="horizontal">
                <div class="ui-controlgroup-controls ">
                    <div class="ui-checkbox pickUpFilterClass">
                    </div>
                </div>
            </fieldset>
            <div data-role="content">
                <div class="content-primary">
                    <ul class="studentsList" data-role="listview" data-filter="true" data-filter-placeholder="Search student..." data-filter-theme="d" data-theme="d"
                        data-autodividers="true"
                        data-divider-theme="d"></ul>
                </div>
            </div>

            <div class="FooterMM"></div>
</div>


    <!-- /page -->
    <!-- End of Pick Up-->
    <!-- Start of Pick Up-->
    <!--Divided, filterable list-->

    <div data-role="page" id="StudentsHealthList">
        <div class="HeaderMM"></div>
        <!--code here to remove the default filter only for my class-->
        <button data-role="button">Show All Students</button>
        <div data-role="content">
            <div class="content-primary">
                <ul class="studentsHealthList"
                    data-autodividers="true"
                    data-role="listview" data-filter="true" data-filter-placeholder="Search student..." data-filter-theme="d" data-theme="d" data-divider-theme="d"></ul>
            </div>
        </div>
        <!-- /content -->
        <div class="FooterMM"></div>
    </div>


    <div data-role="page" id="SudentInfo">

        <div class="HeaderMM"></div>

        <div class="StudentFullInfo"></div>

        <div class="FooterMM"></div>

    </div>
    <!-- /page -->
    <!-- End of Pick Up-->
    <!--execute templates-->


    <script>

        function StartLoadData() {
            //0. authentication
            //1. get the token and username
            //2. fill cbranch data
            //3. assign all the values for the app - branched, students, grade etc
            //4. run the LoadingDataCompleted
            //if (!Authentication.CheckTokenInQueryString() && !Authentication.IsUserLoggedIn())
            //    Authentication.GoToLogin();
            //this is the else. the user and token values are here for sure

            var user = Authentication.GetUserName();
            var token = Authentication.GetToken();

            //this is the else
            Branch.FillBranchData(token, LoadingDataCompleted);
            //ends here - buzy indicator

            //LoadingDataCompleted();
        }

        function LoadingDataCompleted() {
            Student.UpdateStudentsData();

            $("#StudentListPickUpTemplate").tmpl(Student.Students).appendTo(".studentsList");
            $("#GradesFilterTemplate").tmpl(Student.GradesList).appendTo(".pickUpFilterGrade");
            $("#ClassesFilterTemplate").tmpl(Student.ClassesList).appendTo(".pickUpFilterClass");
            Student.FilterChanged();
            //$("#StudentListAvaiableClassesTemplate").tmpl(Student.AvaiableGrades).appendTo(".AvaiableClassesNavBar");


            $("#StudentHealthListTemplate").tmpl(Student.Students).appendTo(".studentsHealthList");
            //$("#StudentListAvaiableClassesTemplate").tmpl(Student.AvaiableGrades).appendTo(".AvaiableClassesNavBar");

            $("#HeadTemplate").tmpl().appendTo(".HeaderMM");
            $("#FooterTemplate").tmpl().appendTo(".FooterMM");

        }
        $(function () {
            // alert('111');
            StartLoadData();
        });

    </script>



    <style>
        .ui-hidden-component {
            display: none !important;
        }
    </style>
</body>
</html>


<!--
    sending param in template
    <script id="Script1" type="text/x-jquery-tmpl">
        {{html htmlDetail(this) }} -->
<!--lily, what about sensitivity and medical care other than food -->
